<h1>Ajuda</h1>
<p>
    Obtenha ajuda no Ruby on Rails Tutorial 
    <a href="http://www.railstutorial.org/help">página de ajuda Rails Tutorial</a>
    Para obter ajuda ajuda nesse aplicativo de exemplo veja o 
    <a href="http://www.railstutorial.org/book">livro <em>Ruby on Rails Tutorial</em>
</p>
